<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" class="ctrl-btn" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Item</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ctrl-btn" (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="addItemForm">
    <ion-item>
        <ion-label position="floating">Item Name</ion-label>
        <ion-input placeholder="Coffee Beans" formControlName="item_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Categories</ion-label>
        <ion-select formControlName="category">
          <ion-select-option [value]="category._id" *ngFor="let category of categories">{{category.category}}</ion-select-option>
          
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input placeholder="Coffee Beans" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input placeholder="Coffee Beans" formControlName="quantity"></ion-input>
    </ion-item>
  </form>
</ion-content>
